@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

.margin{
    margin: 20px 0;
}
.shadow{
    box-shadow: 0 4px 7px 0 rgba(0,0,0,.14),
    0 10px 10px -2px rgba(0,0,0,.12),
    0 4px 5px 0 rgba(0,0,0,.2);
}

.shadow:hover{
    animation-name: spin;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    cursor: pointer;
}
