.teamFlex{
    display: flex;
    background-color:#d9534f;
    color: white;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    box-shadow: 0 4px 7px 0 rgba(0,0,0,.14),
    0 10px 10px -2px rgba(0,0,0,.12),
    0 4px 5px 0 rgba(0,0,0,.2);
}

.remove{
    display: none;
    position: absolute;
    width: 50px;
    height: 100%;
    background-color: #151515;
    opacity: 0.6;
}
.teamFlex:hover .remove{
    display: block !important;
    cursor: pointer;
}
.teamFlex:hover{
    background-color: #151515;
}

.teamName{
    padding-left: 25px;
    padding-top: 25px;
}